<h1>Listing violences</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Actor</th>
    <th>Type</th>
    <th>Year of</th>
    <th>Death count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @violences.each do |violence| %>
  <tr>
    <td><%= violence.location_id %></td>
    <td><%= violence.actor_id %></td>
    <td><%= violence.type %></td>
    <td><%= violence.year_of %></td>
    <td><%= violence.death_count %></td>
    <td><%= link_to 'Show', violence %></td>
    <td><%= link_to 'Edit', edit_violence_path(violence) %></td>
    <td><%= link_to 'Destroy', violence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Violence', new_violence_path %>
