<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @violence.location_id %>
</p>

<p>
  <b>Actor:</b>
  <%= @violence.actor_id %>
</p>

<p>
  <b>Type:</b>
  <%= @violence.type %>
</p>

<p>
  <b>Year of:</b>
  <%= @violence.year_of %>
</p>

<p>
  <b>Death count:</b>
  <%= @violence.death_count %>
</p>


<%= link_to 'Edit', edit_violence_path(@violence) %> |
<%= link_to 'Back', violences_path %>
