<!DOCTYPE html>
<html>
<head>
  <title>Periscopio</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Locations", :locations %>
<%= link_to "Violences", :violences %>
<%= link_to "Types", :violence_types %>
<%= link_to "Actors", :actors %>
<%= yield %>

</body>
</html>
